<BootstrapBlazorRoot>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <PageTitle>MirrorCDN</PageTitle>
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>404哦</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <div style="padding:24px;margin:12px;">
                    <center>
                        <h1>404</h1>
                        <p>正在玩命开发中 ...</p>
                        <p>如果你生成的链接没有带上https:// 或 http:// 头是不行的，那样会直接返回到制作页面</p>
                        <br />
                        制作Url请访问我→<a href="https://mirror-cdn.github.io/make">[制作带人机验证编码的URL]</a>
                    </center>
                </div>
                 
            </LayoutView>
        </NotFound>
    </Router>
</BootstrapBlazorRoot>